<style>
.menu {
  background-color: #000000; /* Preto Onix */
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.menu ul li a {
  color: #FFFFFF; /* Preto Ônix */
  text-decoration: none;
  font-size: 32px;
  padding: 10px;
}

.menu ul li a:hover {
  background-color: #014A6E; /* Azul Safira */
  color: #FFFFFF;
  border-radius: 5px;
}

</style>
<nav class="menu">
    <ul>
      <li><a href="https://hypedx.com.br/">Início</a></li>
      <li><a href="https://hypedx.com.br/categorias">Catálogo</a></li>
      <li><a href="https://hypedx.com.br/sobre">Sobre</a></li>
    </ul>
  </nav>
  